[submodule "lottery-stats-server"]
	path = lottery-stats-server
	url = git@github.com:lihai1/stat-tree-server.git
[submodule "agent"]
	path = agent
	url = git@github.com:lihai1/statistiloto-agent.git
[submodule "ui"]
	path = ui
	url = git@github.com:lihai1/statistiloto-ui.git
[submodule "server"]
	path = server
[submodule "proto"]
	path = proto
